/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
*:not(dialog) {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. 
*/
/* Force form widgets to correctly inherit font and font size as all other elements do */
input,
button,
textarea,
select {
  font: inherit;
  font-size: 100%; /* Not sure about this one, try disabling if form font size seems to be acting weird */
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* --------------------------------------------------- */
/*            END OF JOSH COMEAU'S DEFAULTS            */
/* --------------------------------------------------- */

/*
Optional - remove default browser styles from supporting form elements using `appearance`
*/

/* input[type="checkbox"], */
/* input[type="radio"], */
/* input[type="range"], */
/* select { */
/*     appearance: none; */
/* } */

/*
Optional - same as above, but searches have some jank with their x button, 
so I thought it best to have this one be enabled separately
*/

/* input[type="search"] { */
/*     appearance: none; */
/* } */

input:focus-visible {
  outline: none;
}

/* --------------------------------------------------- */
/*                   END OF RESET                      */
/* --------------------------------------------------- */

.content {
  --text-color: white;
  background-color: hsl(221, 39%, 11%);
  color: var(--text-color);
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  padding-bottom: 1rem;
}

.game {
  background-color: var(--text-color);
  width: min(70vw, 70vh);
  height: min(70vw, 70vh);
  border-radius: 1.1rem;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.game-square {
  background-color: hsl(215, 28%, 17%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-square[data-active="true"]:hover {
  background-color: hsl(217, 19%, 27%);
}

.game-square[data-active="true"]:active {
  background-color: hsl(218, 19%, 40%);
  box-shadow: inset 0 0 1rem black;
}

.game-square[data-index="0"] {
  border-radius: 1rem 0 0 0;
}

.game-square[data-index="2"] {
  border-radius: 0 1rem 0 0;
}

.game-square[data-index="6"] {
  border-radius: 0 0 0 1rem;
}

.game-square[data-index="8"] {
  border-radius: 0 0 1rem 0;
}

.game-square p {
  font-size: min(10vh, 10vw);
}

.play-again-button {
  padding: 1rem;
  background-color: hsl(215, 28%, 17%);
  color: white;
  border-style: none;
  border-radius: 0.5rem;
  margin: 1rem;
}

.play-again-button:hover {
  background-color: hsl(217, 19%, 27%);
}

.play-again-button:active {
  background-color: hsl(218, 19%, 40%);
  box-shadow: inset 0 0 1rem black;
}
